    .iconImg{
        width: auto;
        margin: auto;
        display: block;
    }

    .tituloApp{
        background: -webkit-linear-gradient(rgb(8, 14, 131), rgba(9, 113, 187, 0.285));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

