.iconImg{
    width: auto;
    margin: auto;
    display: block;
}

.tituloApp{
    background: -webkit-linear-gradient(rgb(184, 29, 106), rgba(211, 35, 35, 0.285));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
